* {
  box-sizing: border-box;
}

/* Grid measurements:
<<<<<<< HEAD
*
*
*
*
*
**/

.row {
	max-width: 1000px;
	/* padding on the edges of page */
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px auto;
}

/* Clearfix */
.row::before,
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

.col, .header-col {
	float: left;

	/* 	Gutters 
	*	half a gutter is 10px => 10/960	
	*/
	padding-left: 1.04166666%;
	padding-right: 1.04166666%;

	/* Mobile */
	width: 100%;
}



@media only screen and (min-width: 640px) {

	.col {
		width: 33.33333333%;
	}

	.header-col {
		width: 100%
	}
}
